{{>licenseInfo}}
#include "{{classname}}.h"
#include "JsonSerializer.h"
#include "NetworkHelper.h"

#include <QJsonObject>
#include <QJsonArray>
#include <QJsonDocument>
#include <QNetworkRequest>
#include <QNetworkReply>
#include <QUrlQuery>
#include <QHttpPart>
#include <QDebug>

namespace Swagger {

{{classname}}::{{classname}}(QObject *parent)
: QObject(parent)
, m_config(nullptr)
{
}

{{classname}}::{{classname}}(SwaggerConfig *config, QObject *parent)
: QObject(parent)
, m_config(config)
{
}

{{classname}}::~{{classname}}()
{
}

void {{classname}}::setConfig(SwaggerConfig *config)
{
    m_config = config;
}

SwaggerConfig *{{classname}}::config() const
{
    return m_config;
}

{{#operations}}
{{#operation}}
Promise<{{nickname}}Reply> {{classname}}::{{nickname}}({{#allParams}}const {{{dataType}}} &{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) {
    QUrl url(m_config->url());
    QString fullPath = url.path() + "{{path}}";

    {{#pathParams}}
    {{=<% %>=}}
    fullPath.replace("{<%baseName%>}", QVariant::fromValue(<%paramName%>).toString());
    <%={{ }}=%>
    {{/pathParams}}
    url.setPath(fullPath);

    QUrlQuery query(url);
    {{#queryParams}}
    {{^collectionFormat}}
    query.addQueryItem("{{paramName}}", QVariant::fromValue({{paramName}}).toString());
    {{/collectionFormat}}
    {{#collectionFormat}}
    query.addQueryItem("{{paramName}}", formatCollectionParameter({{paramName}}, "{{collectionFormat}}"));
    {{/collectionFormat}}
    {{/queryParams}}

    // START authentication
    {{#authMethods}}
    {{#isKeyInQuery}}
    query.addQueryItem("{{keyParamName}}", config.apiKey("{{keyParamName}}"));
    {{/isKeyInQuery}}
    {{/authMethods}}
    // END authentication

    url.setQuery(query);

    QNetworkRequest request(url);
    request.setHeader(QNetworkRequest::ContentTypeHeader, "application/json");
    request.setAttribute(QNetworkRequest::FollowRedirectsAttribute, QVariant::fromValue(true));

    NetworkHelper helper;
    {{#formParams}}
    {{^isFile}}
    helper.addVar("{{baseName}}", QVariant::fromValue({{paramName}}).toString());
    {{/isFile}}
    {{#isFile}}
    helper.addFile("{{baseName}}", {{paramName}});
    {{/isFile}}
    {{/formParams}}

    JsonSerializer serializer;
    QJsonDocument doc;
    {{#bodyParams}}
    {{#isContainer}}
    doc.setArray(serializer.toJson({{paramName}}));
    {{/isContainer}}
    {{^isContainer}}
    doc.setObject(serializer.toJson({{paramName}}));
    {{/isContainer}}{{/bodyParams}}

    // Set post content
    helper.setData(doc.toJson());

    {{#headerParams}}
    {{#isContainer}}
    // TODO: Add container variable support for header params
    {{/isContainer}}
    {{^isContainer}}
    request.setRawHeader("{{paramName}}", QVariant::fromValue({{paramName}}).toByteArray());
    {{/isContainer}}
    {{/headerParams}}

    // START authentication
    {{#authMethods}}
    {{#isKeyInHeader}}
    request.setRawHeader("{{keyParamName}}", m_config->apiKey("{{keyParamName}}"));
    {{/isKeyInHeader}}
    {{/authMethods}}
    // END authentication

    m_config->prepareRequest(&request);

    QNetworkReply *reply = helper.execute("{{httpMethod}}", request, m_config->networkAccessManager());

    m_config->processReply(reply);

    Promise<{{nickname}}Reply> *promise = new Promise<{{nickname}}Reply>;

    connect(reply, &QNetworkReply::finished, [=](){
        JsonSerializer serializer;
        {{nickname}}Reply response;
        response.httpResponse = reply;

        // TODO: Error handling
        if (reply->error() != QNetworkReply::NoError) {
            promise->reject();

            qDebug() << "HTTP error:" << reply->errorString() << reply->readAll();

            reply->deleteLater();
            delete promise;
            return;
        }

        QByteArray data = reply->readAll();

        QJsonDocument doc;
        if (!data.isEmpty()) {
            QJsonParseError error;
            doc = QJsonDocument::fromJson(data, &error);

            if (error.error != QJsonParseError::NoError) {
                promise->reject();

                qDebug() << "JSON parse error:" << error.errorString();

                reply->deleteLater();
                delete promise;
                return;
            }
        }

        int statusCode = reply->attribute(QNetworkRequest::HttpStatusCodeAttribute).toInt();
        response.statusCode = statusCode;
        switch(statusCode) {
        {{#responses}}
        {{#isDefault}}
        default: // {{{message}}}
        {{/isDefault}}
        {{^isDefault}}
        case {{code}}: // {{{message}}}
        {{/isDefault}}
            {
                {{#dataType}}
                response.http_{{code}} = std::make_shared<{{{dataType}}}>();
                serializer.fromJson(response.http_{{code}}.get(), doc.{{#isListContainer}}array{{/isListContainer}}{{^isListContainer}}object{{/isListContainer}}());
                {{/dataType}}
                {{^dataType}}
                response.http_{{code}} = true;
                {{/dataType}}
            }
            break;
        {{/responses}}
        }

        promise->resolve(response);

        reply->deleteLater();
        delete promise;
    });

    return *promise;
}

{{/operation}}
{{/operations}}
} /* namespace Swagger */
