{{>licenseInfo}}
#ifndef _SWG_{{classname}}_H_
#define _SWG_{{classname}}_H_

#include "{{prefix}}HttpRequest.h"

{{#imports}}{{{import}}}
{{/imports}}

#include <QObject>

namespace Swagger {

class {{classname}} : public QObject
{
    Q_OBJECT

public:
    explicit {{classname}}(QObject *parent = Q_NULLPTR);
    {{classname}}(const SwaggerConfig &config, QObject *parent = Q_NULLPTR);
    ~{{classname}}();

    void setConfig(const SwaggerConfig &config);
    SwaggerConfig config() const;

    {{#operations}}{{#operation}}Promise<{{{returnType}}}> {{nickname}}({{#allParams}}const {{{dataType}}} &{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}});
    {{/operation}}{{/operations}}

private:
    SwaggerConfig config;
};
}
#endif
