{{>licenseInfo}}
#ifndef _SWG_{{classname}}_H_
#define _SWG_{{classname}}_H_

{{#imports}}{{{import}}}
{{/imports}}
#include "Promise.h"

#include <QObject>

namespace Swagger {

{{#operations}}
{{#operation}}
struct {{nickname}}Reply
{
    QNetworkReply *httpResponse;

{{#responses}}
    {{#dataType}}
    {{{dataType}}} http_{{code}}; // {{{message}}}
    {{/dataType}}
    {{^dataType}}
    bool http_{{code}} = false; // {{{message}}}
    {{/dataType}}
{{/responses}}
};

{{/operation}}
{{/operations}}

class {{classname}} : public QObject
{
    Q_OBJECT

public:
    explicit {{classname}}(QObject *parent = Q_NULLPTR);
    {{classname}}(SwaggerConfig *config, QObject *parent = Q_NULLPTR);
    ~{{classname}}();

    void setConfig(SwaggerConfig *config);
    SwaggerConfig *config() const;

    {{#operations}}{{#operation}}Promise<{{nickname}}Reply> {{nickname}}({{#allParams}}const {{{dataType}}} &{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}});
    {{/operation}}{{/operations}}

private:
    SwaggerConfig *m_config;
};

} // namespace Swagger

#endif
