{{>licenseInfo}}

#ifndef SWAGGER_CONFIG_H_
#define SWAGGER_CONFIG_H_

#include <QUrl>
#include <QMap>
#include <QNetworkAccessManager>

namespace Swagger {

class SwaggerConfig : public QObject
{
    Q_OBJECT

public:
    SwaggerConfig(QObject *parent = Q_NULLPTR);
    SwaggerConfig(const QUrl &url, QObject *parent = Q_NULLPTR);
    ~SwaggerConfig();

    void setUrl(const QUrl &url);
    QUrl url() const;

    void setApiKey(const QString& key, const QString &value);
    void removeApiKey(const QString &key);
    QString apiKey(const QString &key) const;

    void setNetworkAccessManager(QNetworkAccessManager *networkAccessManager);
    QNetworkAccessManager *networkAccessManager();

    // Use this method to add additional headers etc. to your requests
    virtual void prepareRequest(QNetworkRequest *request);

private:
    QUrl m_url;
    QMap<QString, QString> m_apiKeys;

    QNetworkAccessManager *m_networkAccessManager;
};

} // namespace Swagger

#endif // SWAGGER_CONFIG_H_
