{{>licenseInfo}}

#ifndef SWAGGER_CONFIG_H_
#define SWAGGER_CONFIG_H_

#include <QUrl>
#include <QMap>
#include <QNetworkAccessManager>

{{#cppNamespaceDeclarations}}
namespace {{this}} {
{{/cppNamespaceDeclarations}}

class SwaggerConfig : public QObject
{
    Q_OBJECT

public:
    SwaggerConfig(QObject *parent = Q_NULLPTR);
    SwaggerConfig(const QUrl &url, QObject *parent = Q_NULLPTR);
    ~SwaggerConfig();

    void setUrl(const QUrl &url);
    QUrl url() const;

    void setApiKey(const QString& key, const QByteArray &value);
    void removeApiKey(const QString &key);
    QByteArray apiKey(const QString &key) const;

    void setNetworkAccessManager(QNetworkAccessManager *networkAccessManager);
    QNetworkAccessManager *networkAccessManager();

    // Use this method to add additional headers etc. to your requests
    virtual void prepareRequest(QNetworkRequest *request);

    virtual void processReply(QNetworkReply *reply);

private:
    QUrl m_url;
    QMap<QString, QByteArray> m_apiKeys;

    QNetworkAccessManager *m_networkAccessManager = nullptr;
};

{{#cppNamespaceDeclarations}}
} // namespace {{this}}
{{/cppNamespaceDeclarations}}

#endif // SWAGGER_CONFIG_H_
