{{>licenseInfo}}
{{#models}}{{#model}}
#include "{{classname}}.h"
#include "{{classname}}_p.h"

namespace Swagger {

{{classname}}::{{classname}}()
: d(new {{classname}}Data)
{
}

{{classname}}::{{classname}}(const {{classname}} &other)
: d(other.d)
{
}

{{classname}}::~{{classname}}()
{
}

{{classname}} &{{classname}}::operator =(const {{classname}} &other)
{
    d = other.d;
    return *this;
}

{{#vars}}
{{{datatype}}} {{classname}}::{{getter}}() const
{
    return d->{{name}};
}

void {{classname}}::{{setter}}(const {{{datatype}}} &{{name}})
{
    d->{{name}} = {{name}};
}

{{/vars}}

} /* namespace Swagger */

{{/model}}
{{/models}}
