{{>licenseInfo}}
{{#models}}{{#model}}/*
 * {{classname}}.h
 * 
 * {{description}}
 */

#ifndef {{classname}}_H_
#define {{classname}}_H_

#include "SwaggerConfig.h"
{{/model}}{{/models}}
{{#imports}}{{{import}}}
{{/imports}}
#include <QSharedDataPointer>

{{#models}}{{#model}}
namespace Swagger {

class {{classname}}Data;

class {{classname}} {
public:
    {{classname}}();
    {{classname}}(const {{classname}} &other);
    ~{{classname}}();

    {{classname}} &operator =(const {{classname}} &other);

    {{#vars}}
    {{{datatype}}} {{getter}}() const;
    void {{setter}}(const {{{datatype}}} &{{name}});

    {{/vars}}
private:
    QSharedDataPointer<{{classname}}Data> d;
};

} /* namespace Swagger */

Q_DECLARE_TYPEINFO(Swagger::{{classname}}, Q_MOVABLE_TYPE);

#endif /* {{classname}}_H_ */
{{/model}}
{{/models}}
