{{>licenseInfo}}
{{#models}}{{#model}}
#include "{{classname}}.h"
#include "{{classname}}_p.h"

#include <QDataStream>

{{#cppNamespaceDeclarations}}
namespace {{this}} {
{{/cppNamespaceDeclarations}}

{{classname}}::{{classname}}()
: d(new {{classname}}Data)
{
    QMetaType::registerConverter(&{{classname}}::toMap);
}

{{classname}}::{{classname}}(const {{classname}} &other)
: d(other.d)
{
    QMetaType::registerConverter(&{{classname}}::toMap);
}

{{classname}}::~{{classname}}()
{
}

{{classname}} &{{classname}}::operator =(const {{classname}} &other)
{
    d = other.d;
    return *this;
}

bool {{classname}}::operator ==(const {{classname}} &cmp) const
{
    if (d == cmp.d) {
        return true;
    }

    return (
        {{#vars}}
        d->{{getter}} == cmp.d->{{getter}}{{#hasMore}} &&{{/hasMore}}
        {{/vars}}
    );
}

QVariantMap {{classname}}::toMap(bool *ok) const
{
    if (ok) {
        *ok = true;
    }

    QVariantMap map;
    {{#vars}}
    map.insert("{{name}}", QVariant::fromValue(d->{{getter}}));
    {{/vars}}
    return map;
}

{{#vars}}
{{{datatype}}} {{classname}}::{{getter}}() const
{
    return d->{{getter}};
}

void {{classname}}::{{setter}}(const {{{datatype}}} &{{getter}})
{
    d->{{getter}} = {{getter}};
}

{{/vars}}
QDataStream &operator <<(QDataStream &out, const {{classname}} &obj)
{
    out{{#vars}} << obj.{{getter}}(){{/vars}};
    
    return out;
}

QDataStream &operator >>(QDataStream &in, {{classname}} &obj)
{
    {{#vars}}
    {{{datatype}}} {{getter}};
    in >> {{getter}};
    {{/vars}}
    
    {{#vars}}
    obj.{{setter}}({{getter}});
    {{/vars}}
    
    return in;
}

QDebug operator <<(QDebug stream, const {{classname}} &obj)
{
    QDebugStateSaver saver(stream);
    stream.nospace()
        << "{{classname}} { "
        {{#vars}}
        << "{{getter}}: " << obj.{{getter}}(){{#hasMore}} << ", "{{/hasMore}}
        {{/vars}}
        << " }";

    return stream;
}

{{#cppNamespaceDeclarations}}
} // namespace {{this}}
{{/cppNamespaceDeclarations}}

{{/model}}
{{/models}}
